global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "solana-bot"
    static_configs:
      - targets: ["bot:9090"]
    metrics_path: "/api/v1/metrics"

  - job_name: "postgres"
    static_configs:
      - targets: ["postgres-exporter:9187"]

  - job_name: "redis"
    static_configs:
      - targets: ["redis-exporter:9121"]

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"
